@@include('../../assets/libs/bootstrap/dist/css/bootstrap.css')
@@include('../../assets/css/base.css')
@@include('../../assets/libs/owl.carousel/dist/assets/owl.carousel.css')
.home{
    width:100%;  
    height:100%;
    text-align: center; 
}
.home .hehe{
    width:34px;
    height:34px;
    background: url(../../assets/img/sprite/cate-other-on.png) 0 0 no-repeat;
}