@@include('../../assets/css/home/index.css')
@@include('../../assets/css/home/category.css')
@@include('../../assets/css/home/rank.css')
@@include('../../assets/css/home/tag.css')
@@include('../../assets/css/article.css')
.home{
    text-align: center;
}
.home{
    margin-top:70px;
}
.home .more-btn{
    width:50%;
    height:40px;
    border-radius: 40px;
    line-height: 40px;
    display: block;
    color:#999;
    text-align: center;
    border:1px solid #eee;
    margin:0 auto;
}
@media screen and (max-width:768px){
    .home{
        padding:0;
    }
}
