.footer{
    width:100%;
    background:#fff;
    text-align: center;
    padding:20px 20px 5px 20px;
}
.footer .copyright{
    display: block;
    font-size: 12px;
    color:#999;
}
.footer .webmap{
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    justify-content:center;

}
.footer .webmap a{
    margin:10px;
    color:#2B4356
}
