@@include('../../lib/bootstrap/dist/css/bootstrap.css')
@@include('../../css/base.css')
.sign{
    
}
.sign .logo{
    width:34px;
    height:34px;
    background: url(../../img/sprite/cate-hot.png) 0 0 no-repeat;
}
.sign .haha{
    width:34px;
    height:34px;
    background: url(../../img/sprite/cate-hot-on.png) 0 0 no-repeat;
}