.tags{
    width:100%;
}
.tags .title{
    width:100%;
    position: relative;
    height:26px;
    text-align: left;
    text-indent: 10px;
    line-height: 26px;
    border-bottom: 1px solid #f1f1f1;
}
.tags .title:before{
    position: absolute;
    left:0px;
    top:0;
    content: '';
    background:#1ABC9C;
    width:4px;
    height:100%;
}
.tags .cont{
    width:100%;
}
.tags .cont .wrapper{
    display: -webkit-flex;
    display: flex;
    flex-wrap:wrap;
    align-items:center;
    width:calc(100% + 10px);
    margin-left:-10px;
    padding-right: 0;
    justify-content:flex-start;
}
.tags .cont .tag-item{
    margin-left:10px;
    margin-top:10px;
    cursor: pointer;
}
.tags .cont .tag-item input{
    display: none;
}
.tags .cont .tag-item span{
    border-bottom: 1px solid #d9d9d9;
    display: block;
    padding:5px 8px;
    border-radius: 3px;
    overflow: hidden;
    background:#e7e7e7;
    color:#2B4356;
    font-size: 12px;
}
.tags .cont .tag-item input:checked + span{
    background: #20A0FF;
    border-bottom: 1px solid #1D8CE0;
    color:#fff;
}
